@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF



* {
    border:             1px solid;
}
*/
body {
    font-family:        Roboto, Helvetica, sans-serif;
    margin:             0;
    padding:            0;
}

nav {
    position:           fixed;
    width:              100vw;
    display:            flex;
    justify-content:    space-between;
    background-color: white;
}

/* Check how to preserve image ratio when resizing the enclosing container */
#logo {
    width:              250px;
    padding: 15px 15px 15px 35px;
}

#links {
    display:            flex;
    align-items:        center;
    padding:            0 15px;
}

#links li {
    padding:            0 15px;

}

#links a {
    font-size:          22px;
    font-weight:        300;
    text-decoration:    none;
    color:              black;
}

#links li {
    list-style-type:    none;
}

header {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
}

.h1-and-p{
    color : white;
    text-align: center;
}

.h1-and-p h1{
    font-size: 85px;
}

.h1-and-p p{
    font-size : 30px;
}

.whats-on{
    text-align: center;
    width: fit-content;
    margin: 0 auto
}

h3{
    font-size : 35px;
}

.whats-on h3{
    border-bottom: 3px solid #00B172;
    padding-bottom: 10px;
}

.icons{
    display: flex;
    margin : 20px;
}

.icon{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding : 0 80px;
}

.icon img{
    width: 100px;
    height: auto;
}

.icon h4{
    color:  #00B172;
    font-size: 28px;
}

.icon p{
    font-size : 25px;
    text-align: center;
}

.green{
    background-color:#00B172;
    background-image: url(../images/spotify-icon-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px auto;
    margin: 0 25px;
    display : flex;
    justify-content: space-between;
    padding-top: 40px;
}

.green img{
    width: auto;
    height: 500px;
    margin:auto;
}

.text{
    color:white;
    margin: auto 60px;
    width: 600px;
    padding: 20px;
    line-height: 25px;
}

.text h3{
    border-bottom: 3px solid white;
    max-width: fit-content;
    padding-bottom: 15px;
}

h4{
    font-size: 20px;
}

.text p{
    width:235px;
}
